server:
  port: 9004

spring:
  application:
    name: realtime-test

  config:
    name: realtime-test

  profiles:
    active: dev

  cloud:
    config:
      server:
        git:
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include: refresh, health, beans

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
    ip-address: localhost
    hostname: realtime-test
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

# ???? ? ??
---

spring:
  config:
    activate:
      on-profile: prod
    import: "optional:configserver:http://3.36.60.98:8888"

---

spring:
  config:
    activate:
      on-profile: dev
    import: "optional:configserver:http://localhost:8888"
